<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <%- include("../components/header.ejs") %>

    <div class="contents">
      <h1 class="text-center font-bold">New Blog</h1>
    </div>

    <div class="flex justify-evenly pt-8">
      <div class="Thumbnails border p-4 rounded-md">
        <div class="border-dotted border-2 dropZone rounded-md bg-gray-300">
          <input class="inpute_file" type="file" hidden />
          <div
            class="containerDrop p-6 w-72 h-44 flex items-center justify-center"
          >
            <div class="containerDropChilds">
              <div class="img flex justify-center py-4">
                <img class="w-8" src="/img/upload.png" alt="" />
              </div>
              <div class="drag text w-56 flex justify-center">
                <p class="text-center">Drage and drop or click to uplaod</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form
        class="info border w-[24rem] flex justify-center items-center gap-y-20 rounded-md"
        id="form"
      >
        <div class="infoContainer flex-row justify-center items-center w-5/6">
          <div class="title flex-row justify-center items-center w-full pb-6">
            <div>
              <label
                for="email"
                class="block text-center text-sm font-medium text-gray-700 p-2"
                >Title</label
              >
              <div class="mt-1 flex justify-center">
                <input
                  type="text"
                  id="title"
                  class="infoInpute w-full h-9 shadow-sm sm:text-sm border-gray-300 rounded-md p-1"
                  placeholder="Title"
                />
              </div>
            </div>
          </div>
          <div class="category flex-row justify-center items-center w-full">
            <div>
              <label
                for="category"
                class="block text-center text-sm font-medium text-gray-700 pb-2"
                >category</label
              >
              <div class="mt-1 flex justify-center relative">
                <input
                  type="text"
                  id="categoryInpute1"
                  class="infoInpute h-9 shadow-sm w-full sm:text-sm rounded-md p-1"
                  placeholder="category"
                  value=""
                />
                <div class="autocomplete absolute w-full top-[46px] z-50"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="w-full flex justify-center pt-12">
      <div class="w-8/12">
        <div class="category-list relative overflow-hidden">
          <div class="category-container flex space-x-4 px-6">
            <!-- Add your categories here -->

            <!-- Add more categories as needed -->
          </div>
        </div>
      </div>
    </div>

    <div class="contents">
      <h1 class="text-center font-medium">Content</h1>
    </div>

    <div class="content"></div>
    <script src="/js/autocomplete.js"></script>
    <script src="/js/dragDrop.js"></script>
  </body>
</html>
