<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../components/header.ejs") %>

    <div class="w-full flex justify-center pt-6">
      <div class="w-10/12">
        <%- include("../components/categoryList.ejs" , { categories: 'All' } )
        %>
      </div>
    </div>
    <%- include("../components/articleCard.ejs") %>
    <script src="/js/test.js"></script>
  </body>
</html>
